/* Add your own CSS code below */
.countries {
  display: flex;
}
.countries--first {
  flex-direction: row;
  justify-content: flex-end;
}
.countries--second {
  flex-direction: column;
}
.countries--third {
  flex-direction: column-reverse;
}
